.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.main-content img {
  margin-bottom: 30px;
  width: 30vw;
}

.form-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-content label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-content label input {
  background: #252525;
  border: 2px solid #2fc18c;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-top: 5px;
  padding: 0 10px;
  width: 30vw;
}

.form-content button {
  background-color: #2fc18c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  height: 40px;
  width: 200px;
}

.form-content button:disabled {
  background-color: #08422c;
  cursor: default;
}
