.flexbox {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  width: 100%;
}

.header-title {
  margin-right: 42vw;
}

.header-field {
  margin-right: 0.5vw;
}
