.login-container {
  margin: 50px;
  z-index: 2;
}

.logo-container {
  margin-top: 15vh;
}

.logo-container img {
  margin: 10px;
  max-width: 15vh;
}

.logo-container h1 {
  font-size: 5vh;
  margin: 10px;
  max-width: 15vh;
  text-align: center;
}

.input {
  border: 0.3px solid black;
  border-radius: 5px;
  margin: 10px;
  max-width: 300px;
  padding: 10px;
  width: 40vh;
}

.f-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.f-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-btn {
  background-color: rgb(5, 196, 107);
  color: white;
  max-width: 200px;
  width: 20vh;
}

.login-btn:hover {
  background-color: rgb(11, 232, 129);
}

.disabled-btn {
  background-color: rgb(210, 218, 226);
  color: rgb(128, 142, 155);
  max-width: 200px;
  width: 20vh;
}

.round-btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.login-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1501082183835-b7b33db89c3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  position: fixed;
  width: 100%;
}
