.tableDispenses {
  border-collapse: separate;
  text-align: center;
  width: 50%;
}

.tableDispenses tr {
  background-color: rgb(172, 223, 223);
  text-align: center;
}

.tableDispenses input {
  border: none;
  box-sizing: border-box;
  color: black;
  text-align: center;
  width: 150px;
}
